# Root dependencies
node_modules/

# Frontend
frontend/node_modules/

# Backend
backend/node_modules/
backend/.env

# Logs
*.log

# Build
dist/
build/

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db